<nav id="nav_bar">
    <a href="{% url 'home' %}">
        <div class="logo">
            TheSpeedCubed
        </div>
    </a>
    <ul class='nav-links'>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'aprender' %}">Aprenda a montar</a>
        </li>
        <li>
            <a href="{% url 'sobre_o_cubo_magico' %}">Sobre o cubo mágico</a>
        </li>
        <li>
            <a href="{% url 'avancado' %}">Avançado</a>
        </li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>



